<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/img/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>The data for the forecast is retrieved from https://www.mapbox.com and https://darksky.net</p>
        <p>First we get coordinates based on the user input and then we pass them to darksky to get the daily forecast.
        </p>
    </div>
    {{>footer}}
</body>

</html>